<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="../static/css/contato.css">
</head>
<body>
    <header>
        <nav class="barra">
            <img class="logo" src="../static/img/logo.png">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="projetos.html">Projetos</a></li>
            <li><a href="contatos.html">Contato</a></li>
        </nav>
    </header>
    <div class="card">
        <div class="texto">
            <h3>Formas de Contato</h3>
            <p>matheus.lemesakuragui@gmail.com</p>
            <p>https://github.com/MatheusSakuragui</p>
            <p>www.linkedin.com/in/matheus-henrique-lemes-sakuragui</p>
        </div>
    </div>
</body>
</html>