<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <script src="https://kit.fontawesome.com/b5a2452e17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/contato.css">
</head>
<body>
    <header>
        <nav class="barra">
            <img class="logo" src="../static/img/logo.png">
            <li><a href="/home">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/contato">Contato</a></li>
        </nav>
    </header>
    <div class="card">
        <div class="texto">
            <h3>Formas de Contato</h3>
            <i class="fas fa-envelope fa-2x"></i><p>Gmail:<br> matheus.lemesakuragui@gmail.com</p>
            <i class="fab fa-github fa-2x"></i><p>Github:<br> https://github.com/MatheusSakuragui</p>
            <i class="fab fa-linkedin fa-2x"></i><p>Linkedin:<br> www.linkedin.com/in/matheus-henrique-lemes-sakuragui</p>
        </div>
    </div>
</body>
</html>